import React, { Component, useState, useEffect } from 'react'
import Web3 from 'web3';
import Link from 'next/link'
import Router from 'next/router'
import Jazzicon, { jsNumberForAddress } from 'react-jazzicon'
import { useDispatch, useSelector } from 'react-redux';
import { setNetworkId, setMetamaskConnected, setEthAddress, setUser, initialState } from '../features/users/userSlice';

import { getMetamaskAddress } from '../helpers/Web3Helper'
let web3 = undefined; // Will hold the web3 instance

export default function TheNav() {

  const dispatch = useDispatch();
  const { networkId, metamaskConnected, ethAddress } = useSelector(state => state.user);

  const signOut = async () => {
    handleSignOut()
  }

  const handleSignOut = () => {
    dispatch(setUser(initialState));
    Router.push('/');
  }
    return (
      <nav className="navbar" role="navigation" aria-label="main navigation">
        <div className="container">
          <div className="navbar-brand">
            <div className="navbar-item">
              <Link href="/" className="button is-white">
                <img src="/TokenHost.png" />
              </Link>
            </div>
          </div>
          <div className="navbar-menu">            
            {{#each contracts}}
              <div className="navbar-item ">
                <Link href="/{{@key}}" className="button is-primary">
                  <span>{{@key}}</span>
                </Link>
              </div>
            {{/each}}
          </div>
          <div className="navbar-end">
            {
              ethAddress ?
                <div className="navbar-item has-dropdown is-hoverable">
                  <a className="navbar-link">
                    <figure className="image is-32x32 mr-2">
                        <Jazzicon diameter={32} seed={jsNumberForAddress(ethAddress)} />
                    </figure>
                    {ethAddress}
                  </a>

                  <div className="navbar-dropdown">
                    <Link href="/profile" className="navbar-item">
                      Profile
                    </Link>
                    <hr className="navbar-divider" />
                    <div className="navbar-item">
                      <a className="is-danger" onClick={signOut}>
                        <span>Sign out</span>
                      </a>
                    </div>
                  </div>
                </div>
                :
                <div className="navbar-item">
                  <Link href="/signin" className="button is-primary">
                    <span>Sign in</span>
                  </Link>
                </div>
            }
          </div>
        </div>
      </nav>
    )
  }
