import React, { Component } from 'react'
import Web3 from 'web3';
import Link from 'next/link'
import Router from 'next/router'
import Jazzicon, { jsNumberForAddress } from 'react-jazzicon'


import { getMetamaskAddress } from '../helpers/Web3Helper'
let web3 = undefined; // Will hold the web3 instance

export default class TheNav extends Component {
  _isMounted = false

  constructor(props) {
    super(props)
    this.state = {
      signedIn: false,
      user: null,
      token: null
    }
  }

  signOut = async () => {
    this.handleSignOut()
  }

  handleSignOut = () => {
    this.setState({ signedIn: false, user:null, token:null });
    Router.push('/');
  }

  handleRouteChange = async () => {
    const publicAddress = await getMetamaskAddress()
    this.setState({signedIn:true, user: {username:publicAddress}, token: publicAddress})
  }

  componentDidMount() {
    this._isMounted = true
    
    Router.events.on('routeChangeStart', this.handleRouteChange)
    this.handleRouteChange()

  }

  componentWillUnmount() {
    this._isMounted = false
  }

  render() {
    return (
      <nav className="navbar" role="navigation" aria-label="main navigation">
        <div className="container">
          <div className="navbar-brand">
            <div className="navbar-item">
              <Link href="/" className="button is-white">
                <img src="/TokenHost.png" />
              </Link>
            </div>
          </div>
          <div className="navbar-menu">            
            {{#each contracts}}
              <div className="navbar-item ">
                <Link href="/{{@key}}" className="button is-primary">
                  <span>{{@key}}</span>
                </Link>
              </div>
            {{/each}}
          </div>
          <div className="navbar-end">
            {
              this.state.token ?
                <div className="navbar-item has-dropdown is-hoverable">
                  <a className="navbar-link">
                    <figure className="image is-32x32 mr-2">
                        <Jazzicon diameter={32} seed={jsNumberForAddress(this.state.token)} />
                    </figure>
                    {this.state.token}
                  </a>

                  <div className="navbar-dropdown">
                    <Link href="/profile" className="navbar-item">
                      Profile
                    </Link>
                    <hr className="navbar-divider" />
                    <div className="navbar-item">
                      <a className="is-danger" onClick={this.signOut}>
                        <span>Sign out</span>
                      </a>
                    </div>
                  </div>
                </div>
                :
                <div className="navbar-item">
                  <Link href="/signin" className="button is-primary">
                    <span>Sign in</span>
                  </Link>
                </div>
            }
          </div>
        </div>
      </nav>
    )
  }
}
