import React, { Component, useEffect, useState } from 'react'
import Index from '../components/{{parent_contract}}/Index{{reference_contract}}'
import { useRouter } from 'next/router'
import Add from '../components/{{parent_contract}}/AddIndex'

import { setupAccounts } from '../helpers/Web3Helper'

export default (props) => {
  const router = useRouter()
  const [address, setAddress] = useState('')
  useEffect(() => {
      if(router.query.address){
        setAddress(router.query.address)
      }
    console.log('address',router.query.address)
   })

  useEffect(() => {
    setupAccounts()
  }, [])

  if(address == ''){

    return '';
  }
  return (
    <div className="container">
    <Add {{reference_contract}}_address={address} />
      <Index address={address}/>
    </div>
  )
}


